  <div class="container">
    <div class="row-lg-4">
      <div class="card-group">
        <% @posts.each do |post| %>
          <div class="card mt-4 col-lg-4">
            <%= image_tag post.image, class: "card-image-top" %>
              <div class="card-body">
                <h5 class="card-title">
                 <%= post.title %>
                </h5>
                <p class="card-text">
                 <%= post.introduction %>
                </p>
              </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

