<div class="container">
  <div class="row">
    <div class="card border-primary mt-4 w-20 mx-auto">
      <%= image_tag @post.image, class: "card-image-top" %>
      <div class="card-body">
        <h5 class="card-title">
          <%= @post.title %>
        </h5>
        <p class="card-text">
          <%= @post.introduction %>
        </p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">TAG</li>
        </ul>
        <div class="card-footer">
          <h5 class="text-muted"><%= @post.user.name %></h5>
        </div>
      </div>
    </div>
  </div>
</div>