<div class="container">
  <h2>top画面</h2>
  <div class="row">
    <div class="col-md-auto">
      ようこそ！<br>
      Travel shareへ<br>
      ここでは色々な場所に行ったところを共有し合う場所です。<br>
    </div>
  </div>
  <div class="row">
    日本地図挿入予定
  </div>
</div>