
<div class="listings">
  <div class="listings_channels">
    <h2 class="listings_header">メニュー</h2>
    <ul class="channel_list">
      <h5><%= link_to "みんなの投稿", posts_path %></h5>
      <h5><%= link_to "自分の投稿", user_path(@user.id) %></h5>
      <h5>ブックマーク一覧</h5>
    </ul>
  </div>
</div>
